# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Pytest
.pytest_cache/

# Allure
allure-results/
allure-report/

# Test artifacts
test_artifacts/
screenshots/
logs/

# OS / IDE
.vscode/
.idea/
.DS_Store
Thumbs.db

# Environment variables
.env
